
vlan 112
 name s1-s2-mgmt

interface Vlan112
 description s1-s2 core mgmt vrf
 vrf forwarding mgmt
 ip address 172.16.1.1 255.255.255.252

vlan 113
 name s1-s3-mgmt

interface Vlan113
 description s1-s3 core mgmt vrf
 vrf forwarding mgmt
 ip address 172.16.1.5 255.255.255.252

vlan 115
 name s1-dc-mgmt

interface Vlan115
 description s1-dc mgmt vrf
 vrf forwarding mgmt
 ip address 172.16.1.29 255.255.255.252

vlan 119
 name s1-rtr-mgmt

interface Vlan119
 description s1-rtr mgmt vrf
 vrf forwarding mgmt
 ip address 172.16.1.25 255.255.255.252

vlan 999
 name Native


