
vlan 112
 name s1-s2-mgmt

interface Vlan112
 description s1-s2 core mgmt vrf
 vrf forwarding mgmt
 ip address 172.16.1.2 255.255.255.252

vlan 124
 name s2-s4-mgmt

interface Vlan124
 description s2-s4 core mgmt vrf
 vrf forwarding mgmt
 ip address 172.16.1.9 255.255.255.252

vlan 125
 name s2-dc-mgmt

interface Vlan125
 description s2-dc mgmt vrf
 vrf forwarding mgmt
 ip address 172.16.1.37 255.255.255.252

vlan 129
 name s2-rtr-mgmt

interface Vlan129
 description s2-rtr mgmt vrf
 vrf forwarding mgmt
 ip address 172.16.1.33 255.255.255.252

vlan 999
 name Native


