
vlan 113
 name s1-s3-mgmt

interface Vlan113
 description s1-s3 core mgmt vrf
 vrf forwarding mgmt
 ip address 172.16.1.6 255.255.255.252

vlan 134
 name s3-s4-mgmt

interface Vlan134
 description s3-s4 core mgmt vrf
 vrf forwarding mgmt
 ip address 172.16.1.13 255.255.255.252

vlan 132
 name s3-core-dist-mgmt

interface Vlan132
 description s3 core to dist mgmt vrf
 vrf forwarding mgmt
 ip address 172.16.1.17 255.255.255.252

vlan 999
 name Native


