
vlan 124
 name s2-s4-mgmt

interface Vlan124
 description s2-s4 core mgmt vrf
 vrf forwarding mgmt
 ip address 172.16.1.10 255.255.255.252

vlan 134
 name s3-s4-mgmt

interface Vlan134
 description s3-s4 core mgmt vrf
 vrf forwarding mgmt
 ip address 172.16.1.14 255.255.255.252

vlan 142
 name s4-core-dist-mgmt

interface Vlan142
 description s4 core to dist mgmt vrf
 vrf forwarding mgmt
 ip address 172.16.1.21 255.255.255.252

vlan 999
 name Native


