{% for vlan in vlans %}

vlan {{ vlan.vid }}
 name {{ vlan.name }}

{%	 if vlan.interface is defined %}
interface Vlan{{ vlan.vid }}
 description {{ vlan.interface.description }}
{%		 if vlan.interface.vrf is defined %}
 vrf forwarding {{ vlan.interface.vrf }}
{% 		 endif %}
 ip address {{ vlan.interface.ip.address | ipaddr('address') }} {{ vlan.interface.ip.address | ipaddr('netmask') }}
{%	 endif %}
{% endfor %}


